/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
:root {
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
#content {
  display: flex;
  flex-flow: column;
  height: 100%;
}
button {
  width: 2.7rem;
  height: 2.7rem;
  background-color: Transparent;
  border: 0.1rem solid white;
  border-radius: 0.4rem;
  cursor: pointer;
}
#main-nav {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #4B367C;
  height: 5.1rem;
}
#main-nav-left {
  display: flex;
  align-items: center;
}
#main-nav-left button,
#main-nav-left a,
#main-nav-left input {
  margin: 0 0.8rem;
}
#main-nav-left a {
  font-size: 1.4rem;
  color: #B19DD8;
  text-decoration: none;
}
#main-nav-left input {
  background-color: #3C2B63;
  border: 0.1rem solid #6441A4;
  border-radius: 0.4rem;
  height: 2.7rem;
}
#main-nav-right {
  display: flex;
  align-items: center;
}
#main-nav-right button {
  margin-right: 0.8rem;
}
#main-nav-right button#get-bits-button {
  width: 7rem;
  color: white;
  font-size: 1.2rem;
}
#website {
  display: flex;
  align-items: stretch;
  height: 100%;
}
#left-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #19171C;
  width: 4.7rem;
  overflow-y: hidden;
  position: absolute;
  top: 5.1rem;
  left: 0;
  right: 0;
  bottom: 0;
  transition: overflow-y 0.2s;
}
#left-nav:hover {
  overflow-y: overlay;
}
#left-nav button {
  margin: 0.5rem 0;
  flex-shrink: 0;
}
