#left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @light-gray;
    width: 5rem;
    border-right: 1px solid @border-gray;
    .scrollbar-on-hover();
    position: absolute;
    top: @nav-height;
    left: 0;
    right: 0;
    bottom: 0;

    button {
        margin: 0.7rem 0;
        flex-shrink: 0;
    }
}
