#middle {
    position: absolute;
    background-color: @dark-gray;
    .scrollbar-on-hover();
    left: @left-nav-width;
    top: @nav-height;
    right: @chat-width;
    bottom: 0;

    #middle-top-nav {
        position: fixed;
        width: 100%;
        height: @nav-height;
        background-color: @light-gray;
        border-bottom: 0.1rem solid @border-gray;
    }

    #middle-container {
        margin: @nav-height + 2rem 2rem 2rem;

        #video {
            background-color: black;
            width: 100%;
            padding-bottom: 56%;
        }
        
        #video-info {
            height: 15rem; // Should resize with content
            background-color: @light-gray;
            border: 0.1rem solid @border-gray;
            border-bottom-left-radius: @border-radius;
            border-bottom-right-radius: @border-radius;
        }
    }
}
