#middle {
    position: absolute;
    background-color: @dark-gray;
    left: @left-nav-width;
    top: @nav-height;
    right: @chat-width;
    bottom: 0;

    #middle-top-nav {
        width: 100%;
        height: @nav-height;
        background-color: @light-gray;
        border-bottom: 0.1rem solid @border-gray;
    }

    #middle-container {
        margin: 2rem;

        #player-container {
            height: 0;
            padding-bottom: 83%;
            background-color: @light-gray;
            border: 0.1rem solid @border-gray;
            border-bottom-left-radius: @border-radius;
            border-bottom-right-radius: @border-radius;

            #video {
                background-color: black;
                width: 100%;
                padding-bottom: 56%;
            }
        }
    }
}
